body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #227db2;
}

html {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 110px;
    position: fixed;
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 1000;
    background: linear-gradient(to right, #b4d8ed 35%, rgba(255, 255, 255, 0.1));
}

.sidebar.expanded {
    width: 300px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    cursor: pointer;

}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.content {
    flex: 1;
    margin-left: 110px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.content.sidebar-expanded {
    margin-left: 300px;
}

.sidebar .logo {
    display: block;
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
    width: 80px;
}

.sidebar.expanded .logo {
    width: 180px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .sidebar-text {
    display: none;
    color: #227db2;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.sidebar.expanded .sidebar-text {
    display: block;
}

.sidebar .sidebar-icon {
    font-size: 40px;
    color: #227db2;
}

.sidebar.expanded .sidebar-icon {
    transition: width 1s ease-in-out;
    margin-left: 20px;
}

.sidebar .project-title {
    display: none;
}

.sidebar.expanded .project-title {
    display: block;
    text-align: center;
    transition: width 1s ease-in-out;
}

footer {
    text-align: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 20px;
    color: white;
    transition: margin-left 0.3s ease-in-out;
    background: linear-gradient(to right, #227db2, #41bde5);
}

footer.footer-expanded {
    margin-left: 20%;
}

footer a {
    color: white;
    text-decoration: none;
}