{% extends "base.html" %}
{% block title %}Markets Page{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'markets/css/markets.css' %}">

<div class="trading-layout">

    <div id="strategyFormPopup" class="popup-overlay" style="display: none;">
        <div class="popup-content">
            <h2>Create New Strategy</h2>
            <form id="strategyForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Strategy Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="enter_position">Enter Position Explanation:</label>
                    <textarea id="enter_position" name="enter_position_explanation" required></textarea>
                </div>
                <div class="form-group">
                    <label for="trade_exit">Trade Exit Explanation:</label>
                    <textarea id="trade_exit" name="trade_exit_explanation" required></textarea>
                </div>
                <div class="form-actions">
                    <button type="submit" id="create-strategy-confirm-btn" class="create-strategy-confirm-btn">Create Strategy</button>
                    <button type="button" id="create-strategy-cancel-btn" class="create-strategy-cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <div class="left-panel">
        <div class="search-container">
            <form method="GET" class="search-form">
                <div class="search-input-container">
                    <input type="text" name="q" id="search" class="search-input"
                        placeholder="Search company or ticker..." autocomplete="off" required>
                    <button type="submit" class="search-button">🔍</button>
                </div>
                <div id="search-suggestions" class="search-suggestions"></div>
            </form>
        </div>
        <div id="tradingview-chart"></div>
    </div>

    <div class="right-panel">
        <div class="trading-form">
            <h3>Trading Panel</h3>
            <div class="strategy-selector">
                <span>using strategy</span>
                <select name="strategy" id="strategy">
                    <option value="default">no strategy</option>
                    {% for strategy in strategies %}
                        <option value="{{ strategy.id }}">{{ strategy.title }}</option>
                    {% endfor %}
                </select>

                <button id="add-strategy-btn" class="add-strategy-btn">Add strategy</button>
            </div>

            <form method="POST" class="order-form">
                {% csrf_token %}
                <div class="order-type">
                    <button type="button" class="order-btn buy active" data-type="buy">Buy</button>
                    <button type="button" class="order-btn sell" data-type="sell">Sell</button>
                </div>
                <div class="amount-input">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="amount" step="0.01" min="0" value="1.0">
                </div>
                <input type="hidden" name="order_type" id="order_type" value="buy">
                <button type="submit" class="confirm-btn">Confirm</button>
            </form>
        </div>
        <div id="trades-section" class="trades-section trades-section-closed">
            <h5>Open Trades</h5>
            <div class="trades-container">
                <table class="trades-table">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Amount</th>
                            <th>Order</th>
                            <th>Price</th>
                            <th>P/L</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="trades-body">
                        {% for trade in open_trades_data %}
                        <tr data-trade-id="{{ trade.id }}">
                            <td>
                                <a href="{% url 'portfolio:trade_detail' trade.id %}">
                                    {{ trade.ticker }}
                                </a>
                            </td>
                            <td>{{ trade.amount }}</td>
                            <td class="trade_type_td {% if trade.trade_type == 'BUY' %}profit{% else %}loss{% endif %}">
                                {{ trade.trade_type }}
                            </td>
                            <td>${{ trade.enter_price }}</td>
                            <td class="{% if trade.profit_loss_percentage >= 0 %}profit{% else %}loss{% endif %}">
                                {{ trade.profit_loss_percentage }}%
                            </td>
                            <td>
                                <button class="close-trade-btn" data-trade-id="{{ trade.id }}">Close</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    new TradingView.widget({
        "container_id": "tradingview-chart",
        "symbol": "{{ search_query|default:'AAPL' }}",
        "locale": "en",
        "width": "100%",
        "height": "100%",
        "style": "2",
        "timezone": "Etc/UTC",
        "enable_publishing": false,
        "allow_symbol_change": false,
        "hide_top_toolbar": false,
        "save_image": false,
        "details": false,
    });


    document.addEventListener('DOMContentLoaded', function () {
        var openTradesLength = {{ open_trades_data | length }};

        if (openTradesLength != 0) {
            document.getElementById('trades-section').classList.remove('trades-section-closed');
        }

        const addStrategyBtn = document.getElementById('add-strategy-btn');
        const popup = document.getElementById('strategyFormPopup');
        const strategyForm = document.getElementById('strategyForm');
        const cancelBtn = document.getElementById('create-strategy-cancel-btn');

        addStrategyBtn.addEventListener('click', function () {
            popup.style.display = 'flex';
        });

        cancelBtn.addEventListener('click', function () {
            popup.style.display = 'none';
            strategyForm.reset();
        });

        strategyForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            const formData = new FormData(strategyForm);

            const formDataObject = {};
            formData.forEach((value, key) => {
                formDataObject[key] = value;
            });

            try {
                const response = await fetch('/markets/create-strategy/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': formDataObject['csrfmiddlewaretoken']
                    },
                    body: JSON.stringify(formDataObject)
                });

                if (response.ok) {
                    const strategy = await response.json();
                    const dropdown = document.getElementById('strategy');
                    const option = document.createElement('option');
                    option.value = strategy.id;
                    option.textContent = strategy.title;
                    dropdown.appendChild(option);

                    popup.style.display = 'none';
                    strategyForm.reset();
                } else {
                    console.error('Failed to create strategy');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    });

    document.querySelectorAll('.close-trade-btn').forEach(button => {
        button.addEventListener('click', function () {
            const tradeId = this.dataset.tradeId;
            closeTrade(tradeId);
        });
    });

    async function closeTrade(tradeId) {

        const strategy = await getTradeStrategy(tradeId);

        if (strategy && !confirm("This trade is based on the strategy: " + "\n" + strategy.title + "\n" + "Exit condition explanation: "+ "\n" + strategy.trade_exit_explanation)) {
            return;
        }
        
        if (!strategy && !confirm('Are you sure you want to close this order?')) {
            return;
        }

        await fetch(`/portfolio/close-trade/${tradeId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
        });
        const row = document.querySelector(`tr[data-trade-id="${tradeId}"]`);
        row.remove();
    }

    async function getTradeStrategy(tradeId) {
        const response = await fetch(`/portfolio/get-trade-strategy/${tradeId}/`);
        const data = await response.json();
        const strategy = data.strategy;

        if (data.status === 'success' && strategy != null) {
            return strategy;
        }

        return null;
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.querySelectorAll('.order-btn').forEach(button => {
        button.addEventListener('click', function () {
            document.querySelectorAll('.order-btn').forEach(btn => btn.classList.remove('active'));
            this.classList.add('active');
            document.getElementById('order_type').value = this.dataset.type;
        });
    });

    document.querySelector('.order-form').addEventListener('submit', async function (e) {
        e.preventDefault();

        const strategy = document.getElementById('strategy').value;

        console.log(strategy);

        if (strategy != 'default') {
            const response = await fetch(`/markets/get-strategy-details/${strategy}/`);

            if (!response.ok) {
                alert('Failed to fetch strategy details');  
                return;
            }

            const data = await response.json();
            const enterPositionExplanation = data.enter_position_explanation;
            
            if (!confirm("Using strategy: " + data.title + "\n" + "Enter Position Explanation: " + enterPositionExplanation)) {
                return;
            }
        }
        else if (!confirm('Are you sure you want to confirm this order?')) {
            return;
        }

        const form = e.target;
        const formData = new FormData(form);
        formData.append('strategy', strategy);

        const response = await fetch(this.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: formData
        });

        const data = await response.json();

        if (data.status === 'success') {
            const newRow = `
                    <tr data-trade-id="${data.trade.trade_id}">
                        <td>
                            <a href="/portfolio/trade/${data.trade.trade_id}/">
                                ${data.trade.ticker}
                            </a>    
                        </td>
                        <td>${Number(data.trade.amount).toFixed(2)}</td>
                        <td class="trade_type_td ${data.trade.trade_type.toUpperCase() === 'BUY' ? 'profit' : 'loss'}">
                            ${data.trade.trade_type}
                        </td>
                        <td>$${data.trade.enter_price}</td>
                        <td class="profit">0.0%</td>
                        <td>
                            <button class="close-trade-btn" data-trade-id="${data.trade.trade_id}">Close</button>
                        </td>
                    </tr>
                `;

            document.getElementById('trades-body').classList.add('open-trades');
            document.getElementById('trades-body').insertAdjacentHTML('afterbegin', newRow);

            const newCloseButton = document.querySelector(`button[data-trade-id="${data.trade.trade_id}"]`);
            newCloseButton.addEventListener('click', function () {
                closeTrade(data.trade.trade_id);
            });

            this.reset();
            document.getElementById('trades-section').classList.remove('trades-section-closed');
        } else {
            alert('Error opening trade: ' + data.message);
        }
    });

    let searchTimeout;

    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search');
        const suggestionsContainer = document.getElementById('search-suggestions');

        searchInput.addEventListener('input', function () {
            clearTimeout(searchTimeout);
            const query = this.value.trim();

            if (query.length < 2) {
                suggestionsContainer.style.display = 'none';
                return;
            }

            searchTimeout = setTimeout(async () => {
                await fetch(`/markets/search-stocks/?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            suggestionsContainer.innerHTML = '';

                            data.forEach(item => {
                                const div = document.createElement('div');
                                div.className = 'suggestion-item';
                                div.innerHTML = `
                                    <span class="suggestion-symbol">${item.symbol}</span>
                                    <span class="suggestion-name">${item.name}</span>
                                `;

                                div.addEventListener('click', () => {
                                    searchInput.value = item.symbol;
                                    suggestionsContainer.style.display = 'none';
                                    searchInput.form.submit();
                                });

                                suggestionsContainer.appendChild(div);
                            });

                            suggestionsContainer.style.display = 'block';
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }, 50);
        });

        document.addEventListener('click', function (e) {
            if (!searchInput.contains(e.target) && !suggestionsContainer.contains(e.target)) {
                suggestionsContainer.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}